.footer {
  background-color: #251B37; /* Primary dark */
  color: #FFECEF;            /* Lightest accent */
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #FFCACA; /* accent outline */
}