.notfound {
  min-height: 100vh;
  padding: 20px;
  background: #F5F5F5;
  color: #4B164C;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound h2 {
  font-size: 3rem;
  color: #DD88CF;
}

.notfound p {
  font-size: 1.2rem;
}