/* src/styles/NotFound.css */
.notfound {
  min-height: 100vh;
  padding: 20px;
  background: url('../images/website_background_intense_top.png') no-repeat center center fixed;
  background-size: auto;
  color: #4B164C;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound h2 {
  font-size: 3rem;
  color: #DD88CF;
}

.notfound p {
  font-size: 1.2rem;
}